@import "variables",
        "mixins-func";


// NAV MOBILE

.nav-mobile {
	background-color: $oscuro;
	position: fixed;
	
}
.navbar {
	padding: 0;
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 1px solid rgba(255, 255, 255, 0.437);
}
.nav-item {
	a {
		color: $claro;
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 450;
		padding: 1rem;
		border-top: 1px solid $separador;
	}
}
.navbar-toggler {
	background-color: $amarillo;
	margin: 1rem;
}

.logo-nav {
	display: flex;
	text-decoration: none;
	color: $claro;
	text-transform: capitalize;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin: 0;
}
.logo-cervo-mobile {
	width: 80px;
	height: 80px;
}
.texto-de-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	h3 {
		font-size: .9rem;
	}
	h2 {
		font-size: 1.2rem;
	}
}

// FINAL NAV MOBILE

// INICIO NAV CONTACT0

.primera-nav{
    display: flex;

}

nav {
	background-color: $oscuro;
	font-family: $fuente;
	text-decoration: none;
	color: $claro;
	position: sticky;
	z-index: 100;
	top: 0;
	a {
		color: $claro;
		text-decoration: none;
	}
}
.primera-nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	background-color: $oscuro;
	font-family: $fuente;
	text-decoration: none;
	color: $claro;
}
.logo-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	&:hover {
		transform: scale(1.015);
		transition: transform 0.2s ease-out;
	}
	div {
		margin-left: 15px;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 600;
		color: $claro;
	}
	h3 {
		font-size: 1.1rem;
		font-weight: 400;
		color: $claro;
	}
}
.redes-nav {
	display: flex;
	justify-content: center;
	gap: 20px;
	border-left: 2px solid $separador;
	margin-left: 30px;
	padding-left: 30px;
	padding-right: 5px;
}
.logo-cervo {
	width: 85px;
	height: 80px;
	margin-top: 10px;
}
.logo-llamadas {
	height: 40px;
	width: 40px;
}
.logo-redes {
	height: 35px;
	&:hover {
		transform: scale(1.1);
		transition: .2s ease-out;
	}
}
.contacto-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	text-transform: capitalize;
}
.telefonos {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	margin-left: 10px;
	h4 {
		font-weight: 400;
		font-size: 1.1rem;
	}
}

.primera-nav{
    display: none;
}
// FINAL PRIMERA NAV


// INICIO SEGUNDA NAV
.segunda-nav {
	background-color: $oscuro;
	border-top: solid 2px $separador;
	border-bottom: solid 2px $separador;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	margin: 0;
	height: 40px;
}
.opcion-nav {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.1rem;
	font-weight: 400;
	padding: 10px;
	position: relative;
	a {
		&:hover {
			font-weight: 450;
			transition: all 1s ease-out;
		}
	}
	&::after {
		content: " ";
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		border: none;
		background-color: $amarillo;
		left: 0;
		bottom: 11px;
		transform: scale(0);
		transition: transform .2s ease-out;
	}
	&:hover {
		&::after {
			transform: scale(1);
			transform-origin: left right;
		}
	}
}

.datos-contacto {
	display: flex;
}

.segunda-nav{
    display: none;
}

// FINAL SEGUNDA NAV


// INICIO MEDIA  QUERIES

.nav-mobile{
    @include mobile-sm{
        .logo-nav{
            .logo-cervo{
                width: 70px;
                height: 70px;
            }

            .texto-de-logo{
                margin-left: 1px;
                .titulo-logo-movil{
                font-size: 1rem;
            }
            .subtitulo-logo-movil{
                font-size: 1rem;
            }
            }
            
        }
        .navbar-toggler-icon{
            font-size: 1rem;
        }
        
    }
}

.nav-mobile{
    @include desktop-small{
        display: none;
    }
}

.primera-nav{
    @include desktop-small{
        display: initial;
        display: flex;
    }
}

.segunda-nav{
    @include desktop-small{
        display: initial;
        display: flex;
        flex-direction: row;
    }
}
// FINAL MEDIA  QUERIES

