@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Zeyada&display=swap");
.banner {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/inicio-mobile.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 769px) {
  .banner {
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/inicio.jpg);
  }
}

.titulo-banner {
  font-size: 3rem;
  padding: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  color: #f5f5f5;
}
@media (max-width: 366px) {
  .titulo-banner {
    font-size: 2rem;
  }
}

.subtitulo-banner {
  font-size: 2rem;
  font-weight: 600;
  color: #f5f5f5;
  text-transform: capitalize;
}

.a-boton {
  width: min-content;
  height: min-content;
}

.boton-banner {
  padding: 10px 35px;
  margin: 15px 0px;
  text-transform: capitalize;
  background-color: #f5f5f5;
  border: 2px solid #303841;
  color: #303841;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.boton-banner:hover {
  cursor: pointer;
  background-color: #303841;
  color: white;
  transition: all 0.2s linear;
}

.boton-card:hover {
  cursor: pointer;
  background-color: #303841;
  color: white;
  transition: all 0.2s linear;
}

@media (min-width: 769px) {
  .banner {
    height: calc(100vh - 130px);
  }
  .banner .boton-banner:hover {
    cursor: pointer;
    background-color: #303841;
    color: white;
    transition: all 0.2s linear;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav-mobile {
  background-color: #303841;
  position: fixed;
}

.navbar {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.437);
}

.nav-item a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 450;
  padding: 1rem;
  border-top: 1px solid rgba(214, 230, 242, 0.6039215686);
}

.navbar-toggler {
  background-color: #fff200;
  margin: 1rem;
}

.logo-nav {
  display: flex;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
}

.logo-cervo-mobile {
  width: 80px;
  height: 80px;
}

.texto-de-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.texto-de-logo h3 {
  font-size: 0.9rem;
}
.texto-de-logo h2 {
  font-size: 1.2rem;
}

.primera-nav {
  display: flex;
}

nav {
  background-color: #303841;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #f5f5f5;
  position: sticky;
  z-index: 100;
  top: 0;
}
nav a {
  color: #f5f5f5;
  text-decoration: none;
}

.primera-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: #303841;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #f5f5f5;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.logo-nav:hover {
  transform: scale(1.015);
  transition: transform 0.2s ease-out;
}
.logo-nav div {
  margin-left: 15px;
}
.logo-nav h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f5f5f5;
}
.logo-nav h3 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #f5f5f5;
}

.redes-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-left: 2px solid rgba(214, 230, 242, 0.6039215686);
  margin-left: 30px;
  padding-left: 30px;
  padding-right: 5px;
}

.logo-cervo {
  width: 85px;
  height: 80px;
  margin-top: 10px;
}

.logo-llamadas {
  height: 40px;
  width: 40px;
}

.logo-redes {
  height: 35px;
}
.logo-redes:hover {
  transform: scale(1.1);
  transition: 0.2s ease-out;
}

.contacto-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-transform: capitalize;
}

.telefonos {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-left: 10px;
}
.telefonos h4 {
  font-weight: 400;
  font-size: 1.1rem;
}

.primera-nav {
  display: none;
}

.segunda-nav {
  background-color: #303841;
  border-top: solid 2px rgba(214, 230, 242, 0.6039215686);
  border-bottom: solid 2px rgba(214, 230, 242, 0.6039215686);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  height: 40px;
}

.opcion-nav {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px;
  position: relative;
}
.opcion-nav a:hover {
  font-weight: 450;
  transition: all 1s ease-out;
}
.opcion-nav::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #fff200;
  left: 0;
  bottom: 11px;
  transform: scale(0);
  transition: transform 0.2s ease-out;
}
.opcion-nav:hover::after {
  transform: scale(1);
  transform-origin: left right;
}

.datos-contacto {
  display: flex;
}

.segunda-nav {
  display: none;
}

@media (max-width: 366px) {
  .nav-mobile .logo-nav .logo-cervo {
    width: 70px;
    height: 70px;
  }
  .nav-mobile .logo-nav .texto-de-logo {
    margin-left: 1px;
  }
  .nav-mobile .logo-nav .texto-de-logo .titulo-logo-movil {
    font-size: 1rem;
  }
  .nav-mobile .logo-nav .texto-de-logo .subtitulo-logo-movil {
    font-size: 1rem;
  }
  .nav-mobile .navbar-toggler-icon {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .nav-mobile {
    display: none;
  }
}

@media (min-width: 769px) {
  .primera-nav {
    display: initial;
    display: flex;
  }
}

@media (min-width: 769px) {
  .segunda-nav {
    display: initial;
    display: flex;
    flex-direction: row;
  }
}

footer {
  background-color: #fff200;
}

.primer-footer {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  align-items: center;
  align-content: center;
  padding: 2rem;
  padding-bottom: 0;
  gap: 30px;
}

.info-footer {
  width: 80vw;
}

.container-contacto-footer {
  border: none;
  padding-bottom: 0;
}

.logo-negro-footer {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.logo-negro-footer h2 {
  color: #303841;
}
.logo-negro-footer h3 {
  color: #303841;
}

.logo-footer {
  color: #303841;
  margin-left: 10px !important;
  margin-bottom: 0px !important;
}

.logo-cervo-footer {
  margin: 0;
}

.mapa {
  display: none;
}

.telefonos-footer {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.titulo-info-footer {
  text-align: center;
  margin-bottom: 0.5rem;
}

.contenido-info {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: none;
  text-align: center;
}

.logo-llamadas {
  width: 50px;
}

.segundo-footer {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  padding: 1rem;
  margin: 0rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.312);
  border-bottom: 1px solid rgba(0, 0, 0, 0.312);
}

.logo-redes-footer {
  width: 45px;
  height: 45px;
}

.correo-empresa {
  font-size: 1rem;
}

.njb {
  display: flex;
  padding: 1rem;
  background-color: black;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #f5f5f5;
  gap: 1rem;
}

.logo-personal {
  width: 150px;
  height: 79px;
}

.flecha-footer-personal {
  width: 50px;
}

.p-footer-personal-lg {
  display: none;
}

.p-footer-personal-sm {
  font-size: 1.1rem;
  font-weight: 500;
}

@media (min-width: 769px) {
  footer .primer-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 30vh;
  }
  footer .info-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: none;
  }
  footer .info-footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    align-content: center;
    list-style: none;
    padding: 0;
  }
  footer .item-mapa {
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
  }
  footer .mapa-del-sitio {
    position: relative;
    text-align: center;
    width: fit-content;
    text-align: center;
  }
  footer .mapa-del-sitio:hover {
    transform: scale(1.05);
  }
  footer .mapa-del-sitio:hover a::after {
    transform: scale(1);
    transform-origin: left right;
  }
  footer .mapa-del-sitio a:hover {
    font-weight: 450;
    transition: all 1s ease-out;
  }
  footer .mapa-del-sitio a::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 1.7px;
    background-color: black;
    left: 0;
    bottom: 0px;
    transform: scale(0);
    transition: transform 0.2s ease-out;
  }
  footer .titulo-info-footer {
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0;
  }
  footer .contenido-info {
    font-weight: 400;
  }
  footer .segundo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    padding: 1rem;
    border-top: 1px solid #303841;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }
  footer .logo-redes-footer {
    height: 40px;
    width: 40px;
  }
  footer .logo-footer h2 {
    color: black;
    margin-bottom: 0;
  }
  footer .logo-footer h3 {
    color: black;
  }
  footer .telefonos-footer {
    margin: 0;
    gap: 5px;
  }
  footer .correo-empresa {
    margin: 0;
  }
  footer .njb {
    height: 12vh;
    background-color: black;
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
  }
}

@media (min-width: 1025px) {
  footer .mapa {
    display: initial;
  }
}

.barra-cta {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/armado-hierro.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  flex-direction: column;
}
.barra-cta .flecha-cta {
  width: 50px;
  transform: rotate(90deg);
}
@media (min-width: 769px) {
  .barra-cta {
    flex-direction: row;
  }
  .barra-cta .flecha-cta {
    width: 70px;
    transform: none;
  }
  .barra-cta .boton-banner:hover {
    cursor: pointer;
    background-color: #303841;
    color: white;
    transition: all 0.2s linear;
  }
}

.barra-cta-planos {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/decorartion-planos.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  flex-direction: column;
}
.barra-cta-planos .flecha-cta {
  width: 50px;
  transform: rotate(90deg);
}
@media (min-width: 769px) {
  .barra-cta-planos {
    flex-direction: row;
  }
  .barra-cta-planos .flecha-cta {
    width: 70px;
    transform: none;
  }
  .barra-cta-planos .boton-banner:hover {
    cursor: pointer;
    background-color: #303841;
    color: white;
    transition: all 0.2s linear;
  }
}

/* inicio sobre nosotros */
.sobre-nosotros {
  padding: 2rem;
}

.info-sobre-nosotros {
  margin: auto;
  padding: 2rem 0rem;
}
@media (min-width: 769px) {
  .info-sobre-nosotros {
    width: 70vw;
    justify-content: flex-start;
  }
}

.encabezado, .diseño3d .descripcion-diseño h3 {
  font-size: 1.8rem;
}

.parrafo, .diseño3d .descripcion-diseño p {
  font-size: 1.3rem;
}

.ilustracion {
  display: flex;
  justify-content: center;
  width: 70%;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(214, 230, 242, 0.6039215686);
  margin: auto;
}

/* final inicio sobre nosotros */
/* inicio servicios */
.servicios {
  background-color: #303841;
  padding: 2rem 0rem;
}

.encabezado-servicios {
  font-size: 1.8rem;
  padding: 0rem 1.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: #f5f5f5;
  text-align: center;
}

.ejemplo-complementos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 769px) {
  .ejemplo-complementos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 30px;
  }
}

.contenedor-tarjetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 1rem;
  border: 1px solid black;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}

.img-tarjeta {
  border-radius: 10px 10px 0px 0px;
  width: 280px;
}
@media (min-width: 769px) {
  .img-tarjeta {
    width: 230px;
    height: 200px;
  }
}
@media (min-width: 1025px) {
  .img-tarjeta {
    width: 280px;
  }
}

.boton-card {
  width: 150px;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.boton-card:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: var(--oscuro);
  transition: all 0.2s linear;
}

.btn {
  font-size: 1.2rem;
  border: 2px solid rgba(0, 0, 0, 0.443);
  font-weight: 400;
  width: 100%;
}

/* final servicios */
/* inicio objetivo */
.objetivo {
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}

.logo-idea {
  width: 55px;
  height: 55px;
}

.logo-confianza {
  height: 70px;
  width: 70px;
}

.logo-tiempo {
  height: 70px;
  width: 70px;
}

.logo-finalizacion {
  height: 70px;
  width: 70px;
}

.info-sobre-objetivo {
  margin-bottom: 0rem;
  padding: 0;
  text-align: center;
}

@media (min-width: 1025px) {
  .items {
    display: flex;
    gap: 20px;
  }
}
.items .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
@media (min-width: 769px) {
  .items .texto {
    width: 450px;
  }
}
@media (min-width: 1025px) {
  .items .texto {
    width: 300px;
  }
}

.contenedor-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-content: center;
  align-items: center;
  padding: 2rem 0rem;
  border-top: 1px solid var(--separador);
  border-bottom: 1px solid var(--separador);
}
.contenedor-items h3 {
  font-size: 1.5rem;
}
.contenedor-items p {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contenedor-img {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 50%;
}

.compromiso {
  border-top: hidden;
}

.boton-card:hover {
  cursor: pointer;
  background-color: #303841;
  color: white;
  transition: all 0.2s linear;
}

/* final objetivo */
.banner-complementos {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/paneles-mobile.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 769px) {
  .banner-complementos {
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/paneles.jpg);
  }
}

.barra-cta-complementos {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/paneles.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.ejemplo-complementos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 769px) {
  .ejemplo-complementos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
.ejemplo-complementos .div-card {
  background-color: #303841;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}
.ejemplo-complementos .div-card h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.3rem;
  margin-top: 1rem;
}

.img-ej-complemento {
  width: 300px;
  border-radius: 15px;
}
@media (min-width: 769px) {
  .img-ej-complemento {
    width: 230px;
    height: 200px;
  }
}

.info-complementos .encabezado, .info-complementos .diseño3d .descripcion-diseño h3, .diseño3d .descripcion-diseño .info-complementos h3 {
  width: 90vw;
}

.sobre-complementos .encabezado, .sobre-complementos .diseño3d .descripcion-diseño h3, .diseño3d .descripcion-diseño .sobre-complementos h3 {
  margin: 2rem 1rem;
}
@media (min-width: 1025px) {
  .sobre-complementos .encabezado, .sobre-complementos .diseño3d .descripcion-diseño h3, .diseño3d .descripcion-diseño .sobre-complementos h3 {
    width: 50vw;
    margin: 2rem auto;
  }
}
.sobre-complementos .parrafo, .sobre-complementos .diseño3d .descripcion-diseño p, .diseño3d .descripcion-diseño .sobre-complementos p {
  margin: 2rem 1rem;
}
@media (min-width: 1025px) {
  .sobre-complementos .parrafo, .sobre-complementos .diseño3d .descripcion-diseño p, .diseño3d .descripcion-diseño .sobre-complementos p {
    width: 50vw;
    margin: 2rem auto;
  }
}

.sobre-construccion {
  padding: 2rem 1rem;
}

.banner-construccion {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/hierro-mobile.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 769px) {
  .banner-construccion {
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/hierro.jpg);
  }
}
.banner-construccion .titulo-contruccion {
  font-size: 3rem;
}
@media (max-width: 421px) {
  .banner-construccion .titulo-contruccion {
    font-size: 2.5rem;
  }
}
@media (max-width: 360px) {
  .banner-construccion .titulo-contruccion {
    font-size: 2rem;
  }
}

.acordeon {
  margin-bottom: 3rem;
}

.items-construccion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 481px) {
  .items-construccion {
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  .items-construccion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 2rem;
    margin-bottom: 1rem;
  }
}
.items-construccion div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items-construccion div img {
  width: 60px;
  height: 60px;
}

.container-accordion {
  max-width: 900px;
}

.accordion {
  max-width: 900px;
}

.accordion-body {
  font-size: 1.3rem;
}

.nav-mobile {
  background-color: #303841;
  position: fixed;
}

.navbar {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.437);
}

.banner-planos {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/planos-mobile.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 769px) {
  .banner-planos {
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/planos-servicios.jpg);
  }
}

.sobre-los-planos {
  padding: 1rem;
  margin: 2rem 2rem;
}

.info-sobre-los-planos .encabezado, .info-sobre-los-planos .diseño3d .descripcion-diseño h3, .diseño3d .descripcion-diseño .info-sobre-los-planos h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.info-sobre-los-planos p {
  text-align: center;
}
@media (min-width: 1025px) {
  .info-sobre-los-planos p {
    width: 750px;
    margin: auto;
  }
}

.pasos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  border-bottom: 1px solid var(--separador);
  margin: auto;
  margin-bottom: 2rem;
}
@media (min-width: 481px) {
  .pasos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 769px) {
  .pasos {
    width: 700px;
  }
}

.contenedor-pasos {
  text-transform: capitalize;
  text-align: center;
}
.contenedor-pasos img {
  margin-bottom: 1rem;
  width: 50px;
  height: 50px;
}

.ruta {
  background-color: #303841;
  padding: 2rem;
  margin-top: 4rem;
}
.ruta .encabezado, .ruta .diseño3d .descripcion-diseño h3, .diseño3d .descripcion-diseño .ruta h3 {
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}
.ruta li {
  font-size: 1.4rem;
  font-weight: 500;
}
.ruta p {
  font-size: 1.2rem;
}

.barra-cta-planos {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/decorartion-planos.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.tarjeta-pasos {
  background-color: #f5f5f5;
  width: 95vw;
  max-width: 650px;
  border: 2px solid;
  border-radius: 15px;
  margin: 1rem 0;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.441);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
@media (min-width: 1025px) {
  .tarjeta-pasos {
    height: 270px;
    padding: 0rem 1.5rem;
  }
}

.indicaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .indicaciones {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.diseño3d {
  padding: 2rem 1rem 1rem 1rem;
  margin: 2rem 0rem;
  border-top: 1px solid rgba(214, 230, 242, 0.6039215686);
}
.diseño3d .descripcion-diseño {
  margin: auto auto 4rem auto;
  max-width: 600px;
}
.diseño3d .contenedor-targ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
@media (min-width: 769px) {
  .diseño3d .contenedor-targ {
    flex-direction: row;
  }
}
.diseño3d .contenedor-targ div {
  color: white;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #303841;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.diseño3d .contenedor-targ div h3 {
  padding: 1rem;
}
@media (min-width: 769px) {
  .diseño3d .contenedor-targ div h3 {
    font-size: 1rem;
  }
}
@media (min-width: 769px) {
  .diseño3d .contenedor-targ div {
    width: 40vw;
    max-width: 300px;
    height: 300px;
    justify-content: space-between;
  }
}
.diseño3d .contenedor-targ img {
  width: 100%;
}
@media (min-width: 769px) {
  .diseño3d .contenedor-targ img {
    width: 100%;
    height: 200px;
  }
}

.boton-pasos {
  margin: 0;
  background-color: #303841;
  color: white;
  width: max-content;
}
.boton-pasos:hover {
  background-color: white;
  color: black;
  transition: all 0.2s;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #d6e6f2;
  gap: 1rem;
  padding-top: 2rem;
}
@media (min-width: 769px) {
  .contacto {
    height: calc(100vh - 150px);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0rem 2rem 0rem 2rem;
    gap: 2rem;
  }
}
.contacto .indicacion {
  flex-direction: row;
}
.contacto .indicacion p {
  margin: 0;
}

h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

.info-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.414);
  border: 1px solid black;
  width: 90vw;
  max-width: 400px;
}
@media (min-width: 769px) {
  .info-contacto {
    height: 434.4px;
  }
}
.info-contacto img {
  width: 50px;
  height: 50px;
}
.info-contacto p {
  text-align: center;
}

.titulo-contacto {
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(214, 230, 242, 0.6039215686);
  text-align: center;
}

.redes-contacto {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(214, 230, 242, 0.6039215686);
}

.llamanos {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.contenedor-redes {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sub-contacto {
  text-align: center;
}

.indicacion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.telefono {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid rgba(214, 230, 242, 0.6039215686);
}
.telefono p {
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.414);
  border-radius: 10px;
  background-color: white;
  width: 90vw;
  max-width: 400px;
}

.contenedor-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 1.1rem;
}
input:focus ~ label {
  transform: translateY(-15px) scale(0.85);
  transform-origin: top left;
  transition: 0.2s;
}
input:not(:placeholder-shown) {
  border-bottom: 2px solid blue;
}
input:not(:placeholder-shown) ~ label {
  transform: translateY(-15px) scale(0.85);
  transform-origin: top left;
  color: blue;
}

.form_group {
  position: relative;
  margin: 1.2rem;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: grey;
  font-size: 1.1rem;
}

.button-submit {
  padding: 0.8rem 1.5rem;
  border: none;
  margin: 1rem auto 0 auto;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  background-color: green;
}
.button-submit:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.button-submit:active {
  opacity: 0.8;
}

@media (max-width: 450px) {
  form {
    padding: 2rem 0.5rem;
  }
  input {
    font-size: 1rem;
  }
}
.contenedor-encabezado-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.banner-contacto {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/fondo-contacto.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}
@media (min-width: 769px) {
  .banner-contacto {
    height: calc(100vh - 150px);
  }
}

.section-contacto-x {
  display: none;
}

/*# sourceMappingURL=estilos-sass.css.map */
