@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Zeyada&display=swap');

:root{
    --oscuro:#303841;
    --amarillo:#FFF200;
    --gris:#D6E6F2;
    --claro:#F5F5F5;
    --separador:#d6e6f29a;
    --fuente:'Montserrat', sans-serif;
    --cursiva:'Zeyada', cursive;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
    
}


/* PAGINA INICIO */

/* barra de navegacion editada */
.nav-desktop{
    display: none;
}

.nav-mobile{
    background-color: var(--oscuro);
    position: fixed;
}

.navbar{
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.437);
}
.nav-item a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 450;
    padding: 1rem;
    border-top: 1px solid var(--separador);
}
.navbar-toggler{
    background-color: var(--amarillo);
    margin: 1rem;
}
/* fin de navegacion editada */

/* barra de contacto */
.primera-nav{
    display: none;
}
.logo-nav{
    display: flex;
    text-decoration: none;
    gap: .2rem;
    color: var(--claro);
    text-transform: capitalize;
    justify-content: center;
}
.logo-cervo{
    width: 80px;
    height: 80px;
}
.texto-de-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto-de-logo h3{
    font-size: .9rem;
}
.texto-de-logo h2{
    font-size: 1.2rem;
}
.logo-facebook{
    display: none;
}
/* fin barra de contacto */
/* inicio de portada */
.banner{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/inicio.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 2rem;
}

.titulo-banner{
    font-size: 3rem;
    padding: 1rem;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--claro);
}
.subtitulo-banner{
    font-size: 2rem;
    font-weight: 600;
    color: var(--claro);
    text-transform: capitalize;
}
.a-boton{
    width: min-content;
    height: min-content;
}
.boton-banner{
    padding: 10px 35px;
    margin: 15px 0px;
    text-transform: capitalize;
    background-color: var(withe);
    border: 2px solid var(--oscuro);
    color: var(--oscuro);
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}
/* fin de portada */
/* inicio sobre nosotros */
.sobre-nosotros{
    padding: 2rem;
}
.info-sobre-nosotros{
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--separador);
    margin-bottom: 2rem;
}
.encabezado{
    font-size: 1.8rem;
}
.parrafo{
    font-size: 1.3rem;
}
.ilustracion{
    display: flex;
    justify-content: center;
    width: 70%;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--separador);
    margin: auto;
}
/* final sobre nosotros */
/* inicio servicios */
.servicios{
    background-color:var(--oscuro);
    padding: 2rem 0rem;
}
.encabezado-servicios{
    font-size:1.8rem ;
    padding:0rem 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.contenedor-tarjetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 1rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}
.img-tarjeta{
    border-radius: 10px 10px 0px 0px;
    width: 280px;
}

.boton-card{
    width: 150px;
    padding: .5rem;
    margin-top: 1rem;
    border-radius: 10px;
}
.boton-card:hover{
    cursor: pointer;
    background-color: var(--oscuro);
    color: white;
    transition: all .2s linear;
}

.btn{
    font-size: 1.2rem;
    border: 2px solid rgba(0, 0, 0, 0.443);
    font-weight:400;
    width: 100%;
}

/* final servicios */
/* inicio objetivo */
.objetivo{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid var(--separador);

}
.logo-idea{
    width: 55px;
    height:55px;
}

.logo-confianza{
    height: 70px;
    width: 70px;
}
.logo-tiempo{
    height: 70px;
    width: 70px;
}
.logo-finalizacion{
    height: 70px;
    width: 70px;
}
.info-sobre-objetivo{
    margin-bottom: 0rem;
}

.contenedor-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    align-content: center;
    align-items: center;

    padding: 2rem 0rem;
    border-top: 1px solid var(--separador);
    border-bottom: 1px solid var(--separador);
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contenedor-items h3{
    font-size: 1.5rem;
}
.contenedor-items p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
}
.contenedor-img{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 50%;
}
.compromiso{
    border-top: hidden;
}

/* final objetivo */
/* barra cta */
.barra-cta{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/armado-hierro.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}
.flecha-cta{
    width: 50px;
    transform: rotate(90deg) ;
}
/* final barra cta */
/* footer */
footer{
    background-color: var(--amarillo);
}
.primer-footer{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    align-items: center;
    align-content: center;
    padding: 2rem;
    padding-bottom: 0;
}
.info-footer{
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.312);
    border-bottom: 1px solid rgba(0, 0, 0, 0.312);
}
.container-contacto-footer{
    border: none;
    padding-bottom: 0;
}
.logo-negro-footer{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-bottom: 2rem;
}
.logo-footer{
    color: var(--oscuro);
}
.mapa{
    display: none;
}
.telefonos-footer{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}
.titulo-info-footer{
    text-align: center;
    margin-bottom: .5rem;
}

.contenido-info{
    font-weight: 400;
    text-transform: none;
    text-align: center;
}
.logo-llamadas{
    width: 50px;
}
.segundo-footer{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    padding: 1rem;
    margin: 0rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.312);
    border-bottom: 1px solid rgba(0, 0, 0, 0.312);
}
.logo-redes-footer{
    width: 50px;

}
/* final footer */
/* njb */
.njb{
    display: flex;
    padding: 1rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    gap: 1rem;
}
.logo-personal{
    width: 150px;
    height: 100px;
    }
.flecha-footer-personal{
    width: 50px;
}
.p-footer-personal-lg{
    display: none;
}
.p-footer-personal-sm{
    font-size: 1.1rem;
    font-weight: 500;
}
/* fin njb */

@media(min-width:500px){
    .card{
        width: 60vw;
    }
}

@media(min-width:800px){
    .card{
        width: 50vw;
        margin-bottom: 2rem;
    }
}

@media(min-width:756px){
    .servicios{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .barra-cta{
        flex-direction: row;
    }
    .flecha-cta{
        transform: rotate(360deg);
    }
    .logo-negro-footer{
        width: 95%;
    }
    .info-footer{
        width: 95%;
    }
}
@media(min-width:990px) {
    .nav-mobile{
        display: none;
    }
    .primera-nav{
        display: initial;
    }
    .nav-desktop{
        display: initial;
    }
    nav {
        background-color: var(--oscuro);
        font-family: var(--fuente);
        text-decoration: none;
        color: var(--claro);
        position: sticky;
        z-index: 100;
        top: 0;
    }
    nav a {
        color: var(--claro);
        text-decoration: none;
    }
    .primera-nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background-color: var(--oscuro);
        font-family: var(--fuente);
        text-decoration: none;
        color: var(--claro);
    }
    .logo-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
    }
    .logo-nav:hover{
        transform: scale(1.015);
        transition: transform 0.2s ease-out;
    }
    .logo-nav div {
        margin-left: 15px;
    }
    .logo-nav h2{
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--claro);
    }
    .logo-nav h3{
        font-size: 1.1rem;
        font-weight: 400;
        color: var(--claro);
    }
    .redes-nav{
        display: flex;
        justify-content: center;
        gap: 20px;
        border-left: 2px solid var(--separador);
        margin-left: 30px;
        padding-left: 30px;
        padding-right: 5px;;
    }
    .logo-cervo{
        width: 100px;
        height: 100px;
    }
    .logo-llamadas{
        height: 40px;
        width: 40px;
    }
    .logo-redes{
        height: 35px;
    }
    .logo-redes:hover{
        transform: scale(1.1);
        transition: .2s ease-out;
    }
    .contacto-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-transform: capitalize;
    }
    .telefonos{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        margin-left: 10px;
    }
    .telefonos h4{
        font-weight: 400;
        font-size: 1.1rem;
    }
    .segunda-nav{
        background-color: var(--oscuro);
        border-top: solid 2px var(--separador);
        border-bottom: solid 2px var(--separador);
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
    }
    .opcion-nav{
        text-transform: capitalize;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        padding: 10px;
        position: relative;
    }
    .opcion-nav a:hover{
        font-weight: 450;
        transition: all 1s ease-out;
    }
    .logo-facebook{
        display: initial;
    }
    .opcion-nav::after{
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 1.7px;
        background-color: var(--amarillo);
        left: 0;
        bottom: 7px;
        transform: scale(0);
        transition: transform .2s ease-out;
    }
    .opcion-nav:hover::after{
        transform: scale(1);
        transform-origin: left right;
    }
    .datos-contacto{
        display: flex;

    }

    .banner{
        height: 82vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: var(--fuente);
        gap: 10px;
        background-image:linear-gradient(
            rgba(5, 7, 12, 0.45),
            rgba(5, 7, 12, 0.45)),
            url(../img/inicio.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;

    }
    .titulo-banner{
        font-size: 4rem;
        font-weight: 800;
        text-transform: capitalize;
        color: var(--claro);
    }
    .subtitulo-banner{
        font-size: 2.2rem;
        font-weight: 600;
        color: var(--claro);
        text-transform: capitalize;
    }
    .a-boton{
        width: min-content;
        height: min-content;
    }
    .boton-banner{
        padding: 10px 35px;
        margin: 15px 0px;
        text-transform: capitalize;
        background-color: var(withe);
        border: 2px solid var(--oscuro);
        color: var(--oscuro);
        border-radius: 10px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .boton-banner:hover{
        cursor: pointer;
        background-color: var(--oscuro);
        color: white;
        transition: all .2s linear;
    }
    /* final banner */

    /* sobre nosotros */

    .sobre-nosotros{
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 3rem;
        font-family: var(--fuente);
    }
    .info-sobre-nosotros{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
    .ilustracion{
        width: 30rem;
        height: 18rem;
        z-index: 5;
    }
    .ilustracion img{
        width: 30rem;
        height: 18rem;
    }
    .encabezado{
        font-size: 2.5rem;
    }
    .parrafo{
        font-size: 1.2rem;
        font-weight: 380;
    }
    /* final sobre nosotros */


    /* separador-frases */
    .separador-frases{
        background-color: black;
        color: rgba(255, 255, 255, 0.307);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background-image:linear-gradient(
            rgba(5, 7, 12, 0.45),
            rgba(5, 7, 12, 0.45)),
            url(../img/decorartion-planos.jpeg);
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
    }
    .separador-frases h6{
        padding: 1rem;
        font-size: 3rem;
        text-transform: capitalize;
        font-family: var(--cursiva);
        margin: 0;
    }

    /* final separador-frases */

    /* servicios */

    .servicios{
        padding: 4rem 0rem;
        border-top: 2px solid var(--separador);
        border-bottom: 2px solid var(--separador);
    }
    .encabezado-servicios{
        font-family: var(--fuente);
        font-size: 1.7rem;
        text-align: center;
        padding: 1.5rem;
    }


    /* fin servicios */

    /* comiezo seccion objetivo */

    .objetivo{
        display: flex;
        flex-direction: column;
        border:none;
        gap: 0;
    }
    .info-sobre-objetivo{
        padding-right: 2rem;
        border-bottom: none;
        width:80%;
        text-align: center;
    }
    .items{
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        width: 90%;
        gap: 3rem;
    }
    .texto{
        width:100%;
        display: flex;
        flex-direction: column;

    }
    .contenedor-items p{
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
    }
    .contenedor-items{
        display: flex;
        gap: 2rem;
        align-items: center;
        align-content: center;
        border: none;
    }
    .contenedor-img{
        border: 2px solid var(--oscuro);
        border-radius: 50%;
        padding: 1rem;
        margin: 0;
    }
    /* final seccion objetivo */
    /* comiezo footer */
    footer{
        background-color: var(--amarillo);
    }
    .primer-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content:center;
        font-family: var(--fuente);
        height: 30vh;
    }
    .info-footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        border: none;
    }
    .info-footer ul{
        display: flex;
        flex-direction:column;
        gap: 15px;
        align-items: center;
        align-content: center;
        list-style: none;
        padding: 0;
    }
    .mapa{
        display: unset;
    }
    .item-mapa{
        text-decoration: none;
        color: black;
    }
    .mapa-del-sitio:hover{
        transform: scale(1.05);
    }
    .mapa-del-sitio{
        position: relative;
        text-align: center;
        width: fit-content;
        text-align: center;
    }
    .mapa-del-sitio a:hover{
            font-weight: 450;
            transition: all 1s ease-out;
        }
    .mapa-del-sitio a::after{
            content: " ";
            display: block;
            position: absolute;
            width: 100%;
            height: 1.7px;
            background-color: black;
            left: 0;
            bottom: 0px;
            transform: scale(0);
            transition: transform .2s ease-out;
    }
    .mapa-del-sitio:hover a::after{
            transform: scale(1);
            transform-origin: left right;
    }


    .titulo-info-footer{
        text-transform: capitalize;
        font-size: 1.4rem;
        font-weight: 500;
    }
    .contenido-info{
        font-family: var(--fuente);
        font-weight: 400;
    }
    .segundo-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 30px;
        padding: 1rem;
        border-top: 1px solid var(--oscuro);
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .logo-redes-footer{
        height: 40px;
        width: 40px;
    }
    .logo-footer h2{
        color: black;
    }
    .logo-footer h3{
        color: black;
    }

    .njb{
        height: 12vh;
        background-color: black;
        color: white;
        font-family: var(--fuente);
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 30px;
    }

@media(min-width:900px){
    .njb{
        height: fit-content;
    }
}
    .logo-personal{
        width: 150px;
    }
    .flecha-footer-personal{
        width: 75px;
    }
    .telefonos-footer{
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        align-content: center;
        justify-content: baseline;
        font-size: 1.1rem;
    }
}
/*FINAL PAGINA INICIO */

/* INICIO PAGINA PLANOS */
/* banner */
.banner-planos{
    background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/planos-servicios.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;;
}
/* final banner */
/* sobre los planos */
.sobre-los-planos{
    padding: 1rem;
    margin: auto;
}
.info-sobre-los-planos .encabezado{
    text-align: center;
    margin-bottom: 1rem;
}
.info-sobre-los-planos p{
    text-align: center;
}
/* final sobre los planos */

/* pasos */
.pasos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--separador);
    margin-bottom: 2rem;
}

.contenedor-pasos{
    text-transform: capitalize;
    text-align: center;
}
.contenedor-pasos img{
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
}
/* final pasos */
/* inicio ruta */
.ruta{
    padding: 2rem;
}
.ruta .encabezado{
    margin-bottom: 2rem;

}
.ruta li{
    font-size: 1.4rem;
    font-weight: 500;
}
.ruta p{
    font-size: 1.2rem;
}
/* fina ruta */
/* barra cta */
.barra-cta-planos{
    background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/decorartion-planos.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
/* final barra-cta planos */
@media(min-width:990px){
    .ruta{
        width: fit-content;
        margin: auto;
        padding: 0rem 7rem 5rem 7rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .ruta p{
        width: 80%;
        margin: 0;
    }
    .indicaciones{
        margin-left: 4rem;
    }
    .sobre-los-planos p{
        width: 50%;
        margin: auto;
        margin-bottom: 2rem;
    }
}

/* FINAL PAGINA PLANOS */
/* INICIO PAGINA CONSTRUCCION */
.banner-construccion{
    background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/hierro.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
.acordeon{
    margin-bottom: 3rem;
}

.items-construccion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
}
.items-construccion div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-construccion div img{
    width: 60px;
    height: 60px;
}

@media (min-width: 500px) {
.items-construccion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 2rem;
    margin-bottom: 1rem;
}
.items-construccion div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.items-construccion div img{
    width: 60px;
    height: 60px;
}
.items-construccion div h4{
    font-size: 0.9rem;
}
}

@media(min-width:600px){
    .sobre-construccion p{
        padding: 0rem 5rem 3rem 5rem;
    }
}

.barra-cta-construccion{
    background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/adoquines.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
/* FINAL PAGINA CONSTRUCCION */
/* INICIO PAGINA COMPLEMETOS */
.banner-complementos{
    background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/paneles.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.barra-cta-complementos{
    background-image:linear-gradient(
        rgba(5, 7, 12, 0.5),
        rgba(5, 7, 12, 0.5)),
        url(../img/paneles.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
.ejemplo-complementos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:2rem;
    margin-bottom: 2rem;
}
.ejemplo-complementos div h4{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: .3rem;
    margin-top: 1rem;
}

.img-ej-complemento{
    width: 380px;
    border-radius: 15px;
    
}

@media(min-width:900px){
    .ejemplo-complementos{
        display: flex;
        flex-direction: row;
        gap:2rem;
        margin-bottom: 2rem;
    }
    .ejemplo-complementos div img{
        width: 230px;
        height: 200px;
    }
}
/* FINAL PAGINA COMPLEMENTOS*/
/*PAGINA CONTACTO*/

.contacto{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.contacto h4{
    font-size: .9rem;
    font-weight: 600;
}
.info-contacto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.titulo-contacto{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--separador);
    text-align: center;
}
.redes-contacto{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--separador);
}

.info-contacto img{
    width: 50px;
    height: 50px;
}
.llamanos{
    display: flex;
    gap: .5rem;
    padding-bottom: 1rem;
}
.contenedor-redes{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.sub-contacto{
    text-align: center;
}
.indicacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.flecha-negra{
    width: 50px;
    height: 50px;
}

.telefono{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid var(--separador);
}

form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--oscuro);
    border-radius: 10px;
    color: white;
}
input{
    margin-bottom: .5rem;
    border-radius: 5px;
}
.boton-enviar{
    font-weight: 600;
    width: 100%;
}

textarea{
    border-radius: 5px;
}

@media(min-width:700px){
    .contacto{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 5vw;
        
    }
    .info-contacto{
        width:40vw;
    }
    .form{
        width: 40vw;
        
    }

    .flecha-negra{
        transform: rotate(-90deg);
    }
    .indicacion{
        flex-direction: row;
    }
    .indicacion p {
        margin: 0;
    }
}
/* FINAL CONTACTO*/
/* ULTIMOS RETOQUES DE MEDIAQUERYES */
@media (max-width:380px){
    .titulo-banner{
        font-size: 2rem;
    }
    .subtitulo-banner{
        font-size: 1.5rem;
    }
    .correo-empresa{
        font-size: 1rem;
    }
    .telefonos-footer{
        gap:.3rem;
    }
}